*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1, footer {
    text-align: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0ecf04;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}

#form_registrasi {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 255, 229);
}

.form_group {
    margin-bottom: 10px;
}

.form_group_checkbox {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/* Mengatur tampilan pesan error */
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.input-error {
    border-color: red;
    box-shadow: 0 0 3px rgb(255, 0, 0);
}
